[Unit]
Description=Prepare persistent Nix state and SELinux labels
Requires=nix.mount
After=nix.mount systemd-sysusers.service
Before=nix-daemon.service nix-daemon.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/10-zirconium-x9-nix.conf
ExecStart=/usr/bin/install -d -m 0755 -o root -g root /nix/var/nix/daemon-socket
ExecStart=/usr/bin/restorecon -RF /nix/var/nix/daemon-socket
RemainAfterExit=yes
